.blog-details-container {
  grid-gap: 25px;
  display: grid;
  grid-template-columns: 1fr 0.4fr;
}

.blog-detail-content p:first-child {
  color: #333;
  font-family: Poppins;
  font-size: 14px;
  line-height: 24px;
}

.blog-detail-content h3 {
  color: #333;
  font-size: 20px;
  line-height: 24px;
  font-family: poppins;
  margin-bottom: 0;
}

.blog-detail-content img {
  margin: 20px 0;
  width: 100%;
}

.blog-detail-content p,
.blog-content p {
  color: #666666d9;
  font-family: Poppins;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
}

.blog-heading h3 {
  border-bottom: 2px solid #cdcdcd;
  color: #333 !important;
  font-family: Josefin Slab;
  font-size: 24px !important;
  font-weight: 600 !important;
  letter-spacing: 2px !important;
  line-height: 48px !important;
  text-transform: uppercase !important;
  width: 100%;
  margin-bottom: 20px;
}

.sideblog-img {
  width: 30%;
}

.sideblog-img img {
  height: 120px !important;
  object-fit: cover;
}

.blog-width {
  width: 70%;
}

.blog-details {
  background: #fff6f6;
  padding: 20px;
}
.blog-border {
  border: 1px solid #cdcdcd;
  padding: 10px;
}

@media screen and (max-width: 1300px) {
  .blog-details-container {
    grid-template-columns: 1fr 0.6fr;
  }
}

@media screen and (max-width: 1100px) {
  .blog-details-container {
    grid-template-columns: 1fr 0.7fr;
  }
}

@media screen and (max-width: 770px) {
  .blog-details-container {
    grid-template-columns: 1fr;
  }
  .sideblog-img {
    width: 40%;
  }

  .blog-details {
    padding: 10px;
  }
}

@media screen and (max-width: 576px) {
  .sideblog-img {
    width: 100%;
  }

  .sideblog-img img {
    height: 160px !important;
    object-position: top;
  }

  .blog-heading h3 {
    font-size: 18px !important;
    line-height: 36px !important;
  }
}
