.spa-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

@media screen and (max-width: 1050px) {
    .spa-gallery {
        grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 600px) {
    .spa-gallery {
        grid-template-columns: 1fr;
    }
  }